{#  extends base twig template file#}
{% extends 'base.html.twig' %}

{% block title %}Hello {{controller_name}}!{% endblock %}
    {% set users = [{name: 'Cory'}, {name: 'Seth'}, {name: 'Cyd'}, {name: 'Kyle'}]%}
    {% set string = "some string \n from \n databse"%}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name|upper}}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/seth/Sites/php/Symfony/my_project/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/seth/Sites/php/Symfony/my_project/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
    </ul>

    <ul>
        {% for user in users %}
        {# twig method access index loop.index0 = start at index 0 #}
            <li>{{user.name}} - you won {{gifts[loop.index0]}} </li> 
        {% endfor %}
    </ul>
</div>

{# loop through app. flashes single vs all messages #}
{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{message}}
    </div>
{% endfor %}

{% for label, messages in app.flashes %}

    {% for message in messages %}

        {{message}}
        
    {% endfor %}
    
{% endfor %}


{# https://stackoverflow.com/questions/59154335/twig-if-statement-within-for-loop-opening-tag #}
{% for user in users %}

{% if user.name == 'Seth' %}

<p>{{user.name}}</p>

{% else %}

No Users Found
{% endif %}

{% endfor %}


{{include('includes/subview.html.twig', { 'users': users} )}}

{# {% for i in 1..10 %}

    <div class="{{ cycle(['even'| 'odd'])}}"
        {{i}}
    </div>

{% endfor %} #}
<br>
{# common practice to get path #}
{{path('home')}} <br>
{{url('home')}} <br>
{{asset('images/logo.png')}} <br>
{{ absolute_url(asset('images/logo.png')) }}

{# <img src="{{ absolute_url(asset('images/door.jpg'))}}" alt="Symfony 4 course" /> #}

{% endblock %}

{% block javascripts %}

{# prevent overwrite #}
{# {{parent()}} #}
<script>



var route = "{{ string|escape('js') }}";

alert(route)

{# alert('ArteNauta') #}

</script>

{% endblock %}
